<h1>Answers</h1>
<div class="wrapper-white">
  <p><%= @question %></p>
  <p class="signature">-You</p>
</div>

<div class="wrapper-yellow">
  <p><%= @answer %></p>
  <p class="signature">-your coach</p>
</div>
  <%= link_to "Ask something else", ask_path %>
